.logo{
    max-width: 250px!important;
}

/* Small padding bottom */
#features .small-padding-bottom{
    background-color:#2e2e2e!important;
    transform:translatex(0px) translatey(0px)!important;
}

/* Heading */
.small-padding-bottom .features-item h3{
    color:#ffffff!important;
}

/* Heading */
.small-padding-bottom h2{
    color:#ffffff!important;
}

/* Pricing */
#pricing{
    background-color:#2e2e2e!important;
    transform:translatex(0px) translatey(0px)!important;
}

/* Heading */
#pricing h2{
    color:#ffffff!important;
}

/* Container */
#pricing .container{
    transform:translatex(0px) translatey(0px)!important;
}

/* Contact */
#contact{
    background-color:#393f43!important;
}

/* Sponsors padding */
.sponsors-padding{
    background-color:#7f8c8d!important;
}

/* Image */
.sponsors-padding .sponsors img{
    color:#bdc3c7!important;
    opacity:0.6!important;
}

/* Pricing bottom */
#pricing .pricing-box .pricing-bottom{
    background-color:#393f43!important;
    border-style:solid!important;
    border-color:#393f43!important;
    min-height:350px!important;
    padding-bottom:30px!important;
    display:flex!important;
    flex-direction:column!important;
    justify-content:space-between!important;
    align-items:center!important;
    flex-wrap:wrap!important;
    float:none!important;
}

/* Pricing box */
#pricing .pricing-box{
    border-style:none!important;
    border-radius: 14px!important;
    margin-bottom:40px!important;
    padding-bottom:0!important;
}

/* Paragraph */
#pricing .pricing-box p{
    max-height:205px!important;
    padding-top:45px !important;
}

/* Paragraph */
#pricing .container .col-sm-4 .pricing-box .pricing-bottom p{
    padding-bottom:40px !important;
}

/* Footer */
.footer{
    background-color:#2e2e2e!important;
}

/* Column 12/12 */
#pricing .col-md-12{
    display:flex!important;
    flex-direction:column!important;
    align-items:center!important;
    transform:translatex(0px) translatey(0px) !important;
}
/* Signup page */
#SIGNUP_PAGE{
    padding-left:5% !important;
    padding-right:5% !important;
    padding-top:5% !important;
    padding-bottom:5% !important;
    transform:translatex(0px) translatey(0px);
}

/* Signup body all */
#SIGNUP_BODY_ALL{
    padding-left:5% !important;
    padding-right:5% !important;
    padding-top:5% !important;
    padding-bottom:5% !important;
    background-color:rgba(46,46,46,0.81) !important;
    backdrop-filter: brightness(1.39) contrast(5.78) saturate(9.38);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:normal;
    flex-wrap:wrap;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    max-width:25vw;
}

/* Zcampaign optin form */
#zcampaignOptinForm{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* Signup heading */
#SIGNUP_HEADING{
    font-size:31px;
    color:#fefefe !important;
}

/* Web optin */
#zcWebOptin{
    background-color:#2e2e2e !important;
    color:#ffffff;
    width:185px;
    min-height:39px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    box-shadow:none;
    border-style:none;
    position:relative;
    top:0px;
    margin-top:26px;
}

/* Signup description */
#SIGNUP_DESCRIPTION{
    margin-bottom:26px;
    color:rgba(236,240,241,0.78) !important;
}

/* Input */
#customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=email]{
    padding-top:1% !important;
    padding-bottom:1% !important;
    margin-bottom:5% !important;
    margin-top:2% !important;
    padding-left:1% !important;
    padding-right:1% !important;
    width:253px !important;
}

/* Input */
.zcsffieldsdiv div input[type=email]{
    min-width:64%;
    background-color:transparent;
    border-color:rgba(255,255,255,0);
    border-bottom-color:rgba(236,240,241,0.68);
    color:#ffffff;
    font-weight:500;
    border-bottom-style:solid;
}

/* Input */
.zcsffieldsdiv div input[type=text]{
    min-width:64%;
    border-color:rgba(255,255,255,0);
    border-bottom-style:solid;
    border-bottom-width:2px;
    color:#f7f7f7;
    font-weight:500;
}

/* Input */
#customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=text]{
    padding-left:1% !important;
    padding-right:1% !important;
    padding-top:1% !important;
    padding-bottom:1% !important;
    margin-bottom:5% !important;
    background-color:transparent !important;
    border-bottom-color:rgba(249,249,249,0.68) !important;
}

/* Division */
.zcsffieldsdiv .zcsffield div{
    color:#100e0e;
}

/* Error div */
#errorMsgDiv{
    color:#bdc3c7;
    font-weight:700;
}

/* Captcha text */
#captchaText{
    min-width:66%;
    margin-top:5% !important;
    background-color:rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
    border-bottom-style:solid;
    border-bottom-color:rgba(255,255,255,0.65);
    color:#edecec;
}

/* Required field text */
#REQUIRED_FIELD_TEXT{
    color:#7f8c8d;
}

/* Input (active) */
#register .row .col-md-6 #customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=text]:active{
    border-color:rgba(255,255,255,0) !important;
    border-bottom-color:rgba(236,240,241,0.88) !important;
}

/* Input (active) */
#register .row .col-md-6 #customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=email]:active{
    border-bottom-color:rgba(236,240,241,0.82) !important;
}

/* Input (focus) */
#register .row .col-md-6 #customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=text]:focus{
    background-color:rgba(224,228,204,0.13) !important;
}

/* Input (focus) */
#register .row .col-md-6 #customForm #SIGNUP_PAGE #signupMainDiv div #zcampaignOptinForm #SIGNUP_BODY_ALL #SIGNUP_BODY div div .zcsffieldsdiv .zcsffield div input[type=email]:focus{
    background-color:rgba(224,228,204,0.1) !important;
}


.full-sized{
    min-width: 100%;
}
/* Image */
#pricing img{
    transform:translatex(0px) translatey(0px)!important;
    max-width:1488px!important;
    overflow:hidden!important;
}

/* Pricing */
#pricing{
    overflow:hidden!important;
}

/* Paragraph */
.small-padding-bottom .features-item p{
    color:#858585!important;
}
